* {
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

.image_person{
    height: 50px;
    width: 50px;
}

.ol_konverzace{
    list-style-type: none;
    width: 200px;
}

.form_konverzace{

    position: absolute;
    left: 5%;
}

.form_mess{
    position: absolute;
    left:25%;
}

.field_mess{
    overflow: auto;
    height: 400px;
    width: 800px;

}
.massage_set_field{
    height: 80px;
    width: 700px;

}

.text_area_mess{
    resize: none;
    height: 80px;
    width: 700px;
}

.messages_area{
    overflow: auto;
    height: 230px;
    width: 800px;
}

.get_mes{
    width: 300px;
    background:orange;
}

.send_mes{
width: 300px;
    background:green;
}


.m{
    list-style-type: none;
}

.field_konverzace{
    overflow: auto;
    height: 400px;
    width: 200px;
}

.person_select{
    width: 200px;
}

.send{
position: absolute;
    right:1%;
    top:90%;
    height: 30px;
    width: 90px;
}