/*#page {
    width: 100%;
}
#header {
    background-color:#808000;
}
#sidebar>ul {
    list-style: none;
    padding:5px;
}
#sidebar {
    background-color:#dddddd;
    height:200px;
    width:30%;
    float:left;
    padding:5px;        
}
#content {
    background-color:#eeeeee;
    height:200px;
    width:70%;
    float:left;
    padding:5px;    
}
#footer {
    background-color:#808000;
    clear:both;
    text-align:center;
    padding:5px;    
}*/

.header {
    grid-area: hd;
    background-color:#808000;
    text-align:center;
}
.footer {
    grid-area: ft;
    background-color:#808000;
    text-align:center;
    
}
.content {
    grid-area: main;
    background-color: red;
    text-align:center;
}
.sidebar {
    grid-area: sd;
    background-color:#dddddd;
    text-align:center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "ft ft ft ft   ft   ft   ft   ft   ft";
}

h3 ~ button
{
    height: 40px;
    width: 100px;
}

/*button{
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
button:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: green;
}*/

button {
    background:#efefef;
    -webkit-transition: background 1s linear 0s;
    -moz-transition: background 1s linear 0s;
    -o-transition: background 1s linear 0s;
    transition: background 1s linear 0s;
}
button:hover{
    background:green;
}

h3{
    -webkit-animation: rotating 30s infinite linear;
    -moz-animation: rotating 30s infinite linear;
    -ms-animation: rotating 30s infinite linear;
    -o-animation: rotating 30s infinite linear;
    animation: rotating 30s infinite linear;
}

@-webkit-keyframes rotating {
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotating {
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotating {
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotating {
    to { -o-transform: rotate(360deg); }
}
@keyframes rotating {
    to { transform: rotate(360deg); }
}