.book-main-div {
    height: 160px;
    width: 96%;
    margin: 2%;
    border: 1px solid black;
}

.text-block {
    width: 60%;
}

.book-text-div {
    min-width: 100%;
    justify-content: space-between;
    /*margin: auto;*/
}

.book-image-div {
    margin: 4px;
    padding-right: 10px;
}

.book-image {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid black;
}