* {
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

.main-div {
    position: absolute;
    top: 120px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    padding: 5px;
    border: 1px solid black;
    background-color: lightgray;
    margin: 10px;
}

.link-line {
    color: blue;
}

.hbox {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.vbox {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.wrap-box {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.max-width {
    min-width: 100%;
}

.scroll-widget {
    border: 1px solid black;
    overflow-y: scroll;
}

.scroll-widget-header-text {
    padding-left: 16px;
    font-size: 24px;
}