.owner-div {
    width: 90%;
    height: 160px;
    margin: 10px;
    border: 1px solid black;
}

.owner-image-div {
    margin: 4px;
    padding-right: 10px;
}

.owner-image {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid black;
}

.owner-link-div {
    margin-top: 70px;
    margin-right: 10px;
    text-align: center;
}

.book-place {
    width: 33%;
}

.scroll-widget-big {
    width: 90%;
    height: 600px;
}